<!DOCTYPE html>
<html lang="en" data-bs-theme="light" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>TLOShop Admin</title>

  <!-- Favicons -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-grid.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <meta name="theme-color" content="#712cf9">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/Admin.css}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- _____________________________________ -->

      <!-- Side Bar ____________________________________ -->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary col-lg-2" id="sidebar"
        style="min-height: 100vh;">
        <ul class="nav nav-pills flex-column mb-auto list-item">
          <a href="/Admin"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4"><i class="fas fa-shopping-cart"></i>TLOShop</span>
          </a>
          <hr>
          <li class="nav-item">
            <a href="/Admin" class="nav-link active invidual-item" aria-current="page">
              <img th:src="@{/Logo_Admin/house-door.svg}" alt="">
              Trang Chủ
            </a>
          </li>
          <li class="nav-item">
          <a href="/Admin/Product" class="nav-link link-body-emphasis invidual-item">
            <img th:src="@{/Logo_Admin/box2.svg}" alt="">
              Sản Phẩm
            </a>
          </li>
          <li class="nav-item">
          <a href="/Admin/Category" class="nav-link link-body-emphasis invidual-item">
            <img th:src="@{/Logo_Admin/grid-3x3.svg}" alt="">
              Danh Mục
            </a>
          </li>
          <li class="nav-item">
            <a href="/Admin/Color" class="nav-link link-body-emphasis invidual-item">
              <img th:src="@{/Logo_Admin/paint-bucket.svg}" alt="">
              Màu Sắc
            </a>
          </li>
          <li class="nav-item">
            <a href="/Admin/Brand" class="nav-link link-body-emphasis invidual-item">
              <img th:src="@{/Logo_Admin/slack.svg}" alt="">
              Thương Hiệu
            </a>
          </li>
          <li class="nav-item">
          <a href="/Admin/Order" class="nav-link link-body-emphasis invidual-item">
            <img th:src="@{/Logo_Admin/bag-dash.svg}" alt="">
              Quản Lý Đơn Hàng
            </a>
          </li>
        </ul>
      </div>
      <!-- ____________________________________________________________________________________________-->




      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="min-height: 100vh;">
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <div class="d-flex justify-content-center align-items-center">
              <div style="padding-top :15px; padding-bottom: 5px; ">
                <button type="button" class="btn btn-danger"><img th:src="@{/Logo_Admin/github.svg}" alt=""><a href=""></a></button>
                <button type="button" class="btn btn-outline-secondary"><a href=""><img th:src="@{/Logo_Admin/gear.svg}" alt=""></a></button>
                <button type="button" class="btn btn-outline-secondary"><img th:src="@{/Logo_Admin/person-lock.svg}" alt=""></button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <a href="/Admin/Brand/Add" class="add-product-btn">Thêm Thương Hiệu</a>
        </div>
        <div class="row" style="padding: 20px;">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-striped" id="table">
                  <thead >
                    <tr>
                      <th>ID</th>
                      <th>Tên Thương Hiệu</th>
                      <th>Hành Động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="brand : ${brands}">
                      <td th:text="${brand.getId()}"></td>
                      <td th:text="${brand.getName()}"></td>
                      <td>
                        <button type="button" class="btn btn-success"><a th:href="@{/editBrand/{id}(id=${brand.getId()})}"><img th:src="@{/Logo_Admin/pencil-square.svg}" alt=""></a></button>
                        <button type="button" class="btn btn-danger"><a th:href="@{/deleteBrand/{id}(id=${brand.getId()})}"><img th:src="@{/Logo_Admin/trash.svg}" alt=""></a></button>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script th:src="@{bootstrap/js/bootstrap.js}"></script>
  <script th:src="@{bootstrap/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/Sidebar_Admin.js}"></script>
</body>

</html>