<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/OrderDetail.css}"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <title>Order</title>
</head>

<body>
<!--Main Content-->
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 41px;">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0">Cảm Ơn Quý Khách Đã Đặt Hàng, <span style="color: #a8729a;"
                                                                                 th:text="${order}"></span>!
                        </h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0">Chi Tiết Đặt Hàng</p>
                            <p class="text-muted mb-0"><b>Số lượng: </b><span class="fw-bold me-4"
                                                                           th:text="${orderDetails.getQuantity()}"></span></p>
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-muted mb-0"><b>Họ Tên: </b><span th:text="${orderDetails.getFullName()}"></span>
                            </p>
                            <p class="text-muted mb-0"><b>Số điện thoại: </b><span class="fw-bold me-4"
                                                                                  th:text="${orderDetails.getPhoneNumber()}"></span>
                            </p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0"><b>Ngày Đặt Hàng: </b><span
                                    th:text="${orderDetails.getOrderCreated()}"></span></p>
                            <p class="text-muted mb-0"><b>Customer ID: </b><span class="fw-bold me-4"
                                                                                 th:text="${orderDetails.getUserID()}"></span>
                            </p>
                        </div>

                        <div class="d-flex justify-content-between mb-5">
                            <p class="text-muted mb-0"><b>Địa Chỉ: </b><span th:text="${orderDetails.getAddress()}"></span>
                            </p>
                            <p class="text-muted mb-0"><b>Email: </b> <span class="fw-bold me-4"
                                                                            th:text="${orderDetails.getEmail()}"></span></p>
                        </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-5"
                         style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0"><b>Thành Tiền: </b><span class="h2 mb-0 ms-2" th:text="${orderDetails.getTotal() + '.000'}"></span></h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div id="buttonComeback">
    <a href="/HomePage" class="beautiful-link">Quay Lại Trang Chủ</a>
</div>

</body>

</html>