<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TLO Shop</title>
  <link rel="stylesheet" th:href="@{/Login_SignUp.css}" />

</head>

<body>
  <main>
    <div class="box">

      <!-- Form Đăng Nhập _________________________________________________________________________________ -->
      <div class="inner-box">
        <div class="forms-wrap">
          <form action="/Login" autocomplete="off" class="sign-in-form" method="post" th:object="${user}">
            <div class="logo">
              <h4>TLOShop</h4>
            </div>
            <div class="heading">
              <h2>Chào Mừng TLOShop</h2>
              <h6>Đăng Kí Tài Khoản</h6>
              <button type="button" class="toggle" onclick="toggleForms()">
                <h6>Đăng Ký</h6>
              </button>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input type="text" minlength="4" class="input-field" autocomplete="off" required th:field="*{email}" />
                <label>Email</label>
              </div>

              <div class="input-wrap">
                <input type="password" minlength="4" class="input-field" autocomplete="off" required th:field="*{password}" />
                <label>Password</label>
              </div>
              <input type="checkbox" name="same" checked="checked" value="Remember me">Remember me
              <br>
              <br>
              <!-- Add this section to display error messages -->
              <input type="submit" value="Đăng Nhập" class="sign-btn" />
              <p class="text">
                <a href="#">Quên Mật Khẩu</a>
              </p>
            </div>
          </form>
          <!-- _________________________________________________________________________________________________________ -->

          <!-- Đăng Kí  _____________________________________________________________ -->
          <form action="/Register"  method="post" th:object="${user}" autocomplete="off" class="sign-up-form" onsubmit="handleRegistration(this)">
            <div class="logo">
              <h4>TLOShop</h4>
            </div>
            <div class="heading">
              <h2>Chào Mừng TLOShop</h2>
              <h6>Nếu Bạn Có Tài Khoản </h6>
              <button type="button" class="toggle" >
                <h6>Đăng Nhập</h6>
              </button>
            </div>
            <div class="actual-form">
              <div class="input-wrap">
                <input type="text" th:field="*{name}" minlength="4" class="input-field" autocomplete="off" required />
                <label>Name</label>
              </div>
              <div class="input-wrap">
                <input type="email" th:field="*{email}" class="input-field" autocomplete="off" required />
                <label>Email</label>
              </div>
              <div class="input-wrap">
                <input type="password" th:field="*{password}" minlength="4" class="input-field" autocomplete="off" required />
                <label>Password</label>
              </div>

              <input type="submit" value="Đăng Kí" class="sign-btn" />

              <p class="text">
                Được Thực Hiện
                <br>
                52100820_Nguyễn Lâm Thành Long
              </p>
            </div>
          </form>
        </div>

        <div class="carousel">
          <div class="images-wrapper">
            <img src="/Login_SiginUp_img/Login_SignUp.png" class="image img-1 show" alt="" />
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  <script th:src="@{/Login_SignUp.js}"></script>
</body>

</html>